<header class="navbar">
	<!-- LOGO -->
	<div class="navbar_logo" onclick="location.href='/';">
		<img src="/images/favicon.png" />
		<p>Visualise-It</p>
	</div>

	<!-- LINKS -->
	<nav class="navbar_links">
		<ul>
			<li><a href="algorthims">Algorithms</a></li>
			<li><a href="pseudocode">Pseudocode</a></li>
			<li><a href="input">Visualise</a></li>
		</ul>
	</nav>

	<!-- CURRENT PAGE -->
	<p class="navbar_page_name"><%- title %></p>
</header>
