<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../partials/head") %>
        <% title = "Not Found - 404" %>
		
		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
	</head>
	<body>
		<%- include("../partials/navbar") %>
	</body>
</html>
