.information {
	background-color: #dfdfdf;
	display: flex;
	height: 10%;
	width: 100%;
}

/* CONTAINER */
.information .container {
	border-bottom: 1px solid #bbb;
	width: 20%;
}

.information .container:not(:last-child) {
	border-right: 1px solid #bbb;
}

/* HEADING */
.information .container .label {
	background-color: #f5f5f5;
	border-bottom: 1px solid #bbb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	height: 45%;
	line-height: 180%;
	margin: 0;
	text-align: center;
}

/* CELLS */
.information .container .value {
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	height: 55%;
	line-height: 220%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	width: 75%;
}
