<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../../partials/head") %>
		<% title = "Upload Graph" %>

		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
		<link rel="stylesheet" href="/styles/input/upload/csv.css" />

		<!-- SCRIPTS -->
		<script src="/swal/dist/sweetalert2.all.min.js"></script>
		<script src="/scripts/partials/navbar.js"></script>
		<script src="/scripts/partials/essentials.js"></script>
		<script src="/scripts/partials/parameters.js"></script>
		<script src="/scripts/input/upload/csv.js"></script>
	</head>
	<body>
		<!-- NAVBAR -->
		<%- include("../../partials/navbar") %>

		<!-- INFORMATION -->
		<div class="information">
			<!-- DESCRIPTION -->
			<p>
				The first row of the CSV file must contain a list of unique node names. 
				The remaining rows must contain an adjacency matrix. 
				A sample CSV file containing a directed and weighted graph is shown below.
			</p>
			<br>
			
			<!-- SAMPLE CSV FILE CONTENTS -->
			<div class="table">
				<div class="row">
					<p class="cell">apple</p>
					<p class="cell">banana</p>
					<p class="cell">cucumber</p>
				</div>
				<div class="row">
					<p class="cell">0</p>
					<p class="cell">1</p>
					<p class="cell">1</p>
				</div>
				<div class="row">
					<p class="cell">5</p>
					<p class="cell">0</p>
					<p class="cell">0</p>
				</div>
				<div class="row">
					<p class="cell">2</p>
					<p class="cell">1</p>
					<p class="cell">0</p>
				</div>
			</div>
		</div>

		<!-- UPLOAD -->
		<div class="upload">
			<input type="file" id="file" />
			<p id="fileName" class="file_name">Drag and drop files or click here</p>
			<p class="submit"><a href="javascript:submit()">Upload</a></p>
		</div>
	</body>
</html>
