<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../../partials/head") %> <% title = "Node Names" %>

		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
		<link rel="stylesheet" href="/styles/input/custom/nodeName.css">

		<!-- SCRIPTS -->
		<script src="/swal/dist/sweetalert2.all.min.js"></script>
		<script src="/scripts/partials/navbar.js"></script>
		<script src="/scripts/input/custom/nodeName.js"></script>
        <script>
			const postUrl = "<%- postUrl %>";
        </script>
	</head>
	<body>
		<%- include("../../partials/navbar") %>

		<!-- EDGE LIST -->
		<div class="elements">
			<div class="container">
				<!-- LINE NUMBER -->
				<textarea 
				class="line_number"
				cols="5"
				id="lineNumber"
				readonly
				rows="25"
				wrap="off"
				></textarea>
				
				<!-- INPUT -->
				<textarea
					class="node_names"
					cols="100"
					id="nodeNames"
					oninput="updateLineCount(this)"
					onscroll="syncScroll()"
					rows="25"
					spellcheck="false"
					wrap="off"
				></textarea>
			</div>

			<div class="submit">
				<p><a href="javascript:submit()">Input Graph</a></p>
			</div>
		</div>
	</body>
</html>
